[Unit]
Description=EchoStream Audio Communication Service
After=network.target mosquitto.service sound.target
Wants=mosquitto.service

[Service]
Type=simple
User=will
WorkingDirectory=/home/will/Linux_EchoStream
ExecStart=/usr/bin/stdbuf -oL -eL /home/will/Linux_EchoStream/api_call
Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal
StandardInput=null

SupplementaryGroups=gpio,audio
Environment=DISPLAY=:0
LimitNOFILE=65536
LimitNPROC=4096

[Install]
WantedBy=multi-user.target
